accelerate
datasets
diffusers
easydict
einops
fastapi
gradio==5.4.0
huggingface_hub
numpy
opencv-python
peft
pillow
protobuf
requests
safetensors
scikit-image
scipy
git+https://github.com/facebookresearch/segment-anything.git
sentencepiece
spaces
torch
torchaudio
torchvision
tqdm
transformers
uvicorn
./gradio_magicquillv2-0.0.1-py3-none-any.whl
